body {
    /*background: url("../img/img1.jpg"); */
    /* background-image: url("../img/img1.jpg"); */
    background: linear-gradient(to bottom, rgb(204, 229, 255), rgba(204, 229, 255, 0.4));
    /* text-transform: uppercase; */
    text-align: justify;
    font-size: 1.15em;
}
#title{
    color: rgb(186, 133, 9);
    font-weight: 400;
}
.subtitle {
    color: rgb(200, 148, 30);
}

#service-image{
    height: 400px;
    width: 70vw;

    /* background: url(../img/plant2.jpg); */
    /* background: linear-gradient(215deg, rgb(94, 255, 126),rgba(94, 255, 126, 0)); */
    /* background-color: steelblue; */
    background: radial-gradient(circle,red 20%, blue 40%, green 50%);

    /* background-size: cover; */
    /* background-repeat: no-repeat;*/
    /* background-size: contain; */
} 

.link {
    text-decoration: underline;
}

